<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - GMPobre</title>
    <link rel="icon" href="../static/assets/logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper-register"> 
        <form action="{{ url_for('register') }}" method="POST" id="register">
            <div class="logo">
                <img src="../static/assets/logo.png" alt="Logo" style="max-width: 100px; max-height: 100px;">
            </div>
            <h1>Cadastre-se no Guia do Mochileiro Pobre</h1>
            <div class="register-box">
                <input type="text" placeholder="Nome de Usuário" name="username" id="username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="register-box">
                <input type="email" placeholder="Email" name="email" id="email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="register-box">
                <input type="password" placeholder="Senha" name="password" id="password" required>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="register-box">
                <input type="password" placeholder="Confirme sua Senha" name="confirm_password" id="confirm_password" required>
                <i class='bx bxs-lock-alt'></i>
                <span id="password-error" style="color: red; font-size: 12px;"></span>
            </div>
            <button type="submit" class="btn">Cadastrar</button>
            <div class="register-link">
                <p>Já possui uma conta? <a href="{{ url_for('login') }}">Faça login</a></p>
            </div>
        </form>
    </div>
</body>
</html>
