<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histórico - GMPobre</title>    
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <nav class="my-navbar">
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/inicio/historico">Histórico</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>
    <div class="historic-container">
        <div class="historic-recommendations-container">
            {% for item in historico %}
                <div class="recomendation-card">
                    <div class="recomendation-info">
                        <h3>Recomendação {{ loop.index }}</h3>
                        <h3>Gerada no dia: {{ item.recomendacao.data_recomendacao.strftime('%d/%m/%Y') }}</h3>
                        <p>Mês da Viagem: {{ item.recomendacao.mes_viagem }}</p>
                        <p>Viagem em: {{ item.recomendacao.numero_pessoas }}</p>
                        <p>Tipo: {{ item.recomendacao.tipo_destino }}</p>
                        <p>Orçamento: R${{ item.recomendacao.orcamento | round(2) }}</p>
                    </div>
                    <div class="recomendations">
                        {% for destino in item.destinos %}
                            <p>{{ destino.nome }} - {{ destino.descricao }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
