<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histórico - GMPobre</title>    
    <link rel="icon" href="../static/assets/logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <nav class="my-navbar">
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/historico">Histórico</a></li>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>
    <div class="historic-container">
        <div class="historic-recommendations-container">
                <div class="recomendation-card">
                    <div class="recomendation-info">
                        <h3>Recomendação 1</h3>
                        <h3>Gerada no dia: 03/12/2024</h3>
                        <p>Mês da Viagem: Janeiro</p>
                        <p>Viagem em: Casal</p>
                        <p>Tipo: Quente</p>
                        <p>Orçamento: R$1000</p>
                        <p>Nível: Simples</p>
                    </div>
                    <div class="recomendations">
                        <p>Rio de Janeiro - RJ</p>
                        <p>Ubatuba - SP</p>
                    </div>
                </div>
                <div class="recomendation-card">
                    <div class="recomendation-info">
                        <h3>Recomendação 2</h3>
                        <h3>Gerada no dia: 04/12/2024</h3>
                        <p>Mês da Viagem: Janeiro</p>
                        <p>Viagem em: Casal</p>
                        <p>Tipo: Quente</p>
                        <p>Orçamento: R$1000</p>
                        <p>Nível: Simples</p>
                    </div>
                    <div class="recomendations">
                        <p>Rio de Janeiro - RJ</p>
                        <p>Ubatuba - SP</p>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>
