<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - GMPobre</title>
    <link rel="icon" href="../static/assets/logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <nav class="my-navbar">
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/inicio/historico">Histórico</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>

    <div class="welcome-box">
        <h2>Olá, {{ nome_usuario }}!</h2>
        <p>Bora planejar sua próxima viagem?</p>

        {% if mensagem %}
        <script>
            alert("{{ mensagem }}");
        </script>
        {% endif %}
    </div>



    <div class="form-container">
        <form action={{ url_for('recomendacao.inicio') }} method="POST">
            <div class="input-box">
                <label for="mes">Mês da Viagem</label>
                <select name="mes" id="mes" required>
                    <option value="" disabled selected>Escolha um mês</option>
                    <option value="janeiro">Janeiro</option>
                    <option value="fevereiro">Fevereiro</option>
                    <option value="marco">Março</option>
                    <option value="abril">Abril</option>
                    <option value="maio">Maio</option>
                    <option value="junho">Junho</option>
                    <option value="julho">Julho</option>
                    <option value="agosto">Agosto</option>
                    <option value="setembro">Setembro</option>
                    <option value="outubro">Outubro</option>
                    <option value="novembro">Novembro</option>
                    <option value="dezembro">Dezembro</option>
                </select>
            </div>

            <div class="input-box">
                <label for="qtd_pessoas">Quantas pessoas irão viajar?</label>
                <select id="qtd_pessoas" name="qtd_pessoas" required>
                    <option value="sozinho">Sozinho</option>
                    <option value="casal">Casal</option>
                    <option value="amigos">Amigos</option>
                    <option value="familia">Família</option>
                </select>
            </div>
            <div class="input-box">
                <label for="orcamento">Orçamento (por pessoa)</label>
                <input type="number" id="orcamento" name="orcamento" placeholder="R$" required>
            </div>
            <div class="input-box">
                <label for="tipo_destino">Tipo de destino</label>
                <select id="tipo_destino" name="tipo_destino" required>
                    <option value="quente">Quente</option>
                    <option value="frio">Frio</option>
                </select>
            </div>
            <button type="submit" class="btn">Gerar Recomendações</button>
        </form>
    </div>
    <script src="../static/js/script.js" defer></script>
</body>
</html>
