<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - GMPobre</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <nav class="my-navbar">
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/inicio/historico">Histórico</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>

    <div class="welcome-box">
        <h2>Olá, {{ nome_usuario }}!</h2>
        <p>Bora planejar sua próxima viagem?</p>

        {% if mensagem %}
        <script>
            alert("{{ mensagem }}");
        </script>
        {% endif %}
    </div>

    <div class="recommendation-options">
        <h3>Escolha o tipo de recomendação:</h3>
        <div class="button-group">
            <!-- Passando o tipo para a URL -->
            <a href="{{ url_for('recomendacao.recomendacao', tipo='Orcamento') }}" class="btn">Por Orçamento</a>
            <a href="{{ url_for('recomendacao.recomendacao', tipo='Diarias') }}" class="btn">Por Diárias</a>
            <a href="{{ url_for('recomendacao.recomendacao', tipo='Clima') }}" class="btn">Por Clima</a>
        </div>
    </div>
    
    <!-- Caminho correto para o arquivo JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>
