<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendação por Orçamento - GMPobre</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="my-navbar">
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/inicio/historico">Histórico</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>

    <div class="form-container">
        <form action="{{ url_for('recomendacao.recomendacao',tipo='Orcamento') }}" method="POST">
            <div class="input-box">
                <label for="mes">Mês da Viagem</label>
                <select name="mes" id="mes" required>
                    <option value="" disabled selected>Escolha um mês</option>
                    <option value="Janeiro">Janeiro</option>
                    <option value="Fevereiro">Fevereiro</option>
                    <option value="Marco">Março</option>
                    <option value="Abril">Abril</option>
                    <option value="Maio">Maio</option>
                    <option value="Junho">Junho</option>
                    <option value="Julho">Julho</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Setembro">Setembro</option>
                    <option value="Outubro">Outubro</option>
                    <option value="Novembro">Novembro</option>
                    <option value="Dezembro">Dezembro</option>
                </select>
            </div>
            <div class="input-box">
                <label for="orcamento">Orçamento (por pessoa)</label>
                <input type="number" id="orcamento" name="orcamento" placeholder="R$" required>
            </div>
            <button type="submit" class="btn">Gerar Recomendações</button>
        </form>
    </div>
</body>
</html>
