@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff; /* Azul-claro suave */
    color: #2c3e50; /* Azul-escuro para texto */
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00796b; /* Verde médico */
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background: #00796b; /* Verde médico */
    color: white;
}

td select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #00796b;
    background: #f0f8ff;
    font-size: 14px;
    color: black;
}

select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #00796b;
    background: #00796b;
    font-size: 14px;
    color: white;
}

button {
    background-color: #00796b;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #004d40;
}

#diagnosis-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f; /* Vermelho para alertas médicos */
}

h1 {
    color: #333;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #218838;
}

.my-navbar{
	background-color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
	width: 100%;
	text-align: center;
}

.my-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
}

.my-navbar li {
	float: left;
}
  
.my-navbar li a {
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
.my-navbar li a:hover {
	background-color: rgba(255, 255, 255, 0.8);
}